.subsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 1000px;
  margin: auto;
  padding: 20px;
}

.subsWrapper h1 {
  text-transform: capitalize;
  border-bottom: 2px solid black;
}

.subCats {
  display: flex;
  align-items: baseline;
}

.para {
  font-size: 1.5em;
  margin: 3px 0px;
}

.subCats span {
  margin-left: 10px;
  font-size: 0.9em;
}

.submitDiv {
  display: flex;
  flex-direction: column;
}

.submitDiv h2 {
  text-align: center;
  margin: 0px 0px 25px 0px;
}

.submitDiv label {
  font-size: 1.4em;
  margin: 10px 0px 0px 0px;
}

.submitDiv input,
.submitDiv textarea {
  min-height: 3em;
  border-radius: 4px;
  outline: none;
  border: 1px solid grey;
}

.submitDiv input::placeholder,
.submitDiv textarea::placeholder {
  color: blue;
  opacity: 60%;
  font-size: 1.3em;
  padding-left: 10px;
}

.submitDiv button {
  font-size: 2em;
  margin: 20px 40px;
}
